
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-item>
<ion-label floating>Email</ion-label>
<ion-input type="text" [(ngModel)]="user.email"></ion-input>
</ion-item>

<ion-item>
    <ion-label floating>Пароль</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

<button ion-button (click)="login(user)">Логин</button>
<button ion-button  color="light" (click)="register()">Регистрация</button>

</ion-content>
