<ion-header>
  <ion-navbar>
    <ion-title>Деньги в долг срочно</ion-title>
    <ion-buttons end>  
        <button class="contact_avatar" name="contact"(click)="openPopupPage()">
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-tabs>

  <ion-tab [root]="tab2Root" tabTitle="Кредиторы" tabIcon="keypad"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Поиск" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Сообщения" tabIcon="text"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Помощь" tabIcon="medkit"></ion-tab>
  
</ion-tabs>
