page-modal {
     ion-modal {
          left: 0;
          top: 0;
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          contain: strict;
          margin-top: 27%;
          }
   
.test {
     background: #ff6633;
     width: 100px;
     height: 100px;;
     color: #e2e2e2;
}

     .item-ios ion-icon[item-left],
     .item-ios ion-icon[item-right],
     .item-ios ion-icon[item-start],
     .item-ios ion-icon[item-end] {
       margin-left: 10px;
       margin-top: 11px;
       margin-bottom: 10px;
     }
     .item-md ion-icon[item-left],
     .item-md ion-icon[item-right],
     .item-md ion-icon[item-start],
     .item-md ion-icon[item-end] {
       margin-left: 10px;
       margin-top: 11px;
       margin-bottom: 10px;
     }
     .icon-md close-outline {
            margin-left: 10px;
    margin-top: 9px;
    margin-bottom: 8px;

     }
     .ios-close-outline {

          margin-left: 10px;
          margin-top: 9px;
          margin-bottom: 8px;
     }

     .button-md {
          border-radius: 2px;
          overflow: hidden;
          height: 3.6rem;
          font-size: 1.2rem;
          font-weight: 500;
          text-transform: uppercase;
          color: #fff;
          background-color: #424141;
          -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
          transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
          transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
          margin: 0.4rem 0.2rem;
          padding: 0 1.1em;
      }
      .fab-md {
          color: #fff;
          background-color: #e2e2e2;
          /* -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1); */
          box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.0), 0 0px 0px rgba(0, 0, 0, 0.0); 
          /* -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
          /* transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
          /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1); */
          /*transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);*/
      }
     .fab-md {
          color: #424141;
          background-color: #ffffff;
     }
     .fab-close-icon {
          left: 0;
          right: 0;
          top: 0;
          position: absolute;
          line-height: 31px;
          opacity: 0;
          -webkit-transform: scale(0.4) rotateZ(-45deg);
          transform: scale(0.4) rotateZ(-45deg);
          -webkit-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms;
          -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, -webkit-transform;
          transition-property: transform, opacity;
          transition-property: transform, opacity, -webkit-transform;
      }
     .fab-ios {
          color: #595858;
          background-color: #ffffff;
      }

      .fab ion-icon {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          font-size: 2.8rem;
      }
      .fab {
          text-align: center;
          -moz-appearance: none;
          -ms-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          border-radius: 50%;
          position: relative;
          z-index: 0;
          display: block;
          overflow: hidden;
          width: 38px;
          height: 38px;
          font-size: 18px;
          line-height: 42px;
          text-overflow: ellipsis;
          text-transform: none;
          white-space: nowrap;
          cursor: pointer;
          -webkit-transition: background-color, opacity 100ms linear;
          transition: background-color, opacity 100ms linear;
          background-clip: padding-box;
          -webkit-font-kerning: none;
          font-kerning: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          contain: strict;
      }
     .li_spisok {
         
          font-size: 0.8em;
          color: #000;
          width: 11em;
      
     }
     ion-icon {
       
          display: inline-block;
    font-size: 0.8em;
    margin: 6px;
      }
      .icon_star {

          text-align: left;
      }
     .toolbar-title-ios {
          padding: 0 6px;
          font-size: 2.3rem;
          font-weight: 500;
          color: #000000;
      }

      .toolbar-title-md {
          padding: 0 6px;
          font-size: 2.3rem;
          font-weight: 500;
          color: #000000;
      }
     .ios-close-outline {

          margin-left: 7px;
    margin-top: 8px;
    margin-bottom: 6px;
     }
     .button-ios {
          border-radius: 4px;
          height: 2.8em;
          font-size: 1.2rem;
          background-color: #ff6633;
          margin: 0.4rem 0.2rem;
          padding: 0 1em;
          color: #ffffff;
      }
    .signInModal {
        padding: 30px;
        .modal-wrapper {
             border-radius: 7px;
             background: rgba(0, 0, 0, 0.5);
             height: 75% !important;
             margin-top: 10%;
    
             ion-list{               
                   
                  .login-top{
                       margin-top: -20px;
                       background: #4eb5e2; 
                       padding-bottom: 10px; 
                       margin-bottom: 25px;         
                  }
                  img {
                       margin-top: 15%;
                       max-width: 30%;
                  }
    
                  .item{
                        
                       background: none !important;
                       button{
                            height:4rem !important;
                       }
                  }
             }
        }
   }
}
