<ion-header>


</ion-header>


<ion-content padding>

  <ion-list no-lines="">
    <div class="login-top">


   
</div> 
<ion-item>
  <ion-buttons end>
    <button ion-button icon-only  (click)="closeModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
    </button>
</ion-buttons>
<br>
<ion-title style="text-align: left; color: black; font-size: 36px">{{item.company}}</ion-title>
<div class="card-all"  style="text-align:left; font-size: 16px">{{item?.type_program}}</div>
<div class="icon_star">
<ion-icon name="star" style="color:#2e3130;text-align:left "></ion-icon>
<ion-icon name="star" style="color:#2e3130;text-align:left  "></ion-icon>
<ion-icon name="star" style="color:#2e3130;text-align:left "></ion-icon>
<ion-icon name="star" style="color:#2e3130;text-align:left  "></ion-icon>
<ion-icon name="star-outline" style="color:#2e3130;text-align:left "></ion-icon></div>
 
<div class="li_spisok">
 
    <ion-icon ios="ios-disc" md="md-disc"></ion-icon>{{item.int_info}}<br>
    <ion-icon ios="ios-disc" md="md-disc"></ion-icon>{{item.percent}}<br>
    <ion-icon ios="ios-disc" md="md-disc"></ion-icon>{{item.theway}}<br>
 
</div><br>
<ion-col col-md-3>
    <button ion-button (click)="openLink()">{{item.text_button}}</button> 
  </ion-col>
  <div class="card-all"  style="text-align:center;margin-top:15px; font-size: 12px;word-break: break-all">{{item?.age}}</div>
<ion-grid style="color: black; text-align: left;">
  <ion-row>
    



    <ion-col col-md-3>
      <ion-icon (click)="goAnOtherPage1()" style="font-size:36px;color:#424141;" ios="ios-medkit-outline" md="md-medkit"></ion-icon>
    </ion-col>
    
    <ion-col col-md-3 offset-md-3>
      <ion-fab style="font-size:18px">
        <button  ion-fab color="black"><ion-icon name="md-share"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab color="primary"><ion-icon name="logo-vimeo"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
          <button ion-fab color="secondary"><ion-icon name="logo-facebook"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="left">
          <button ion-fab color="light"><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
        <ion-fab-list side="right">
          <button ion-fab color="dark"><ion-icon name="logo-twitter"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    </ion-col>
  
  </ion-row>
</ion-grid>



<br>
<br>

    
   </ion-item>
  </ion-list>
</ion-content>
