page-suitable {

  ion-modal {
    left: 0;
    top: 0;
    position: relative;
    display: block;
    width: 100%;
height: 100%;
    contain: strict;
    
}



.item-ios.item-block .item-inner {
  padding-right: 8px;
  padding-right: 8px;
  border-bottom: 0.55px solid #ffffff;
}


.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 1px solid #ffffff;
}
/*На все страницы скопировать*/
.SwipedTabs-activeTab {
  color: black !important;
  -webkit-box-shadow: 0 15px 10px #06546b;
  box-shadow: 2px 3px 1px 1px #06546b;
  -webkit-transform: rotate(-3deg);
  transform: rotate(0deg);
  background: #06546b;
  font-weight: 700;
}
.slide-zoom {
  height: 100vh;
  overflow-y: scroll;
}

ion-header
    {
    border-style: none;
    border-color: rgba(0, 0, 0, 0.3);
    background: #006699;

    }

    ion-scroll {
        min-height: 60px;
        height: auto;
    }
    .label-ios {
        color: #000000;
      }
      
      .label-md {
        color: #000000;
      }


      .zaim_cartblank {
background: #ffffff;

      }
      .zaim_cartblank:hover a {
        background-color: slategray;
        box-shadow: inset 0px 0px 0px 1px red;
      }
      
      .SwipedTabs-indicatorSegment
          {
              -webkit-transition: 0.3s all;
              -moz-transition:  0.3s all;
              -o-transition:  0.3s all;
              transition:  0.3s all;
              transform-origin: top 0 left 0;
              height: 1px;
            position: relative;
            
            
        
          }
          .SwipedTabs-tabs ion-segment-button
          {
          
            border:none !important;
            color:gray!important;
            background-color:white!important;
            
          }
           .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
          {
            color: #000000 !important;
            -webkit-box-shadow: 0 15px 10px #06546b;
            box-shadow: 0px 3px 0px 0px #06546b;
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(0deg);
            background: #06546b;
        
          }
        




          .segment-md .segment-button {
          /*  position: sticky;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;*/

            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 0;
            height: 4.2rem;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: rgba(0, 0, 0, 0.1);
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 4rem;
            text-transform: uppercase;
            color: #488aff;
            background-color: transparent;
            opacity: 0.7;
            -webkit-transition: 100ms all linear;
            transition: 100ms all linear;
            padding: 0 0px;
            
        }
      
        .segment-ios .segment-button {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          width: 0;
          height: 3.2rem;
          border-width: 1px;
          border-style: solid;
          border-color: #488aff;
          font-size: 1.2rem;
          line-height: 3rem;
          color: #488aff;
          background-color: transparent;
          position: sticky;
top: 0;
left: 0;
right: 0;
z-index: 9999;
      }
      .swiper-slide {
        text-align: center;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: block;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 18px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background: #ffffff;
        font-weight: 500;
   
      }
      .cardcom_id {
        padding: 20px;
        float: left;
        height: 58px;
        font-size: 12px;
        
      }
      .card-zag {
        color: #000000;
        font-size: 1.1em;
        margin-left: 6px;
        font-weight: 600;
    }
    .card-all {
      padding: 2px;
      color: #000000;
  
      font-size: 0.5em;
      font-weight: 500;
      margin-left: 6px;
  }

  .card-all {
  font-size: 0.7em;
  color: #626363;
  }

  ion-modal.modal-wrapper {
    transform: translateY(30%) !important;
  }
  ion-page.modal {
    padding: 30px;
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-backdrop-bg {
    background-color: #000;
    opacity: 0;
  }
  .active .modal-backdrop-bg {
    opacity: 0.5;
  }
}

ion-modal.inset-modal {
  // transparent black background overlay
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}
.bar-button-default-md{

  color: #326995;
    background-color: transparent;
    font-size: 26px;
}
    /*конец*/


