<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding >


        <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
                    (ionSlideWillChange)="updateIndicatorPosition()"
                    (ionSlideDidChange)="updateIndicatorPosition()"
                    (pan)="updateIndicatorPosition()"
                    [initialSlide]="initialSlide"
                    [pager]="false"
        >
       <!-- here is our dynamic line  "indicator"-->
       <div id='indicator'  class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
          <ion-slide>
              <ion-segment  class="SwipedTabs-tabs">
                  <ion-segment-button  *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
                  [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
                    {{tab}}
                  </ion-segment-button>
                </ion-segment>
      

              <div class="letter_head" style="background: #006699;height: 100px;max-height: 96%;">
                  <div class="letter" style="width: 100px; margin: auto;max-height: 90%;display: block;">
                        <img src="./assets/imgs/z.png">
                      </div></div>
                      
              <h4 text-center style="font-size: 1.5em; font-weight: 600; line-height: 0.5;">Займы</h4>
              <p text-center style="font-size: 1.0em; line-height: 1.5;">все</p>

              <br> 
              <button style ="text-align: center;    font-size: 10px;margin-left: auto; margin-right: auto; display: block; background:#006699" ion-button>
                <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
              </button>
                   
            <ion-item *ngFor="let item of (data6$ | async); let i = index">
              <ion-toolbar>
                  <ion-buttons end>
                      <button ion-button ion-button  (click)="openHintModal(item)" >
                        <ion-icon name="share-alt"></ion-icon>
                      </button>
                    </ion-buttons>
                    <div class="cardcom_id">{{i + 1}}</div>
                    <div class="card-zag">{{item.type}}</div>
                    <div class="card-alls">{{item.int_info}}</div>
                    <div class="card-all">{{item.filter_category}}</div>
                
                  <ion-buttons end>
                  
                  </ion-buttons>
                </ion-toolbar>
      
       </ion-item>
             
             
          <br>
          </ion-slide>

          <ion-slide >
              <ion-segment  class="SwipedTabs-tabs"  >
                  <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
                  [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
                    {{tab}}
                  </ion-segment-button>
                </ion-segment>
    
              <div class="letter_head" style="background: #006666;height: 100px;max-height: 96%;">
                  <div class="letter" style="width: 100px; margin: auto;max-height: 90%;display: block;">
                        <img src="./assets/imgs/kg.png">
                      </div></div>
                      
              <h4 text-center style="font-size: 1.5em; font-weight: 600; line-height: 0.5;">Карты</h4>
              <p text-center style="font-size: 1.0em; line-height: 1.5;">все</p>
              <br>
              <button style ="text-align: center;    font-size: 10px;margin-left: auto; margin-right: auto; display: block; background:#006699" ion-button>
                                    <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
                </button>
                
                <ion-item *ngFor="let item of (data1$ | async); let i = index">
                    <ion-toolbar>
                        <ion-buttons end>
                            <button ion-button ion-button  (click)="openHintModal(item)" >
                              <ion-icon name="share-alt"></ion-icon>
                            </button>
                          </ion-buttons>
                          <div class="cardcom_id">{{i + 1}}</div>
                          <div class="card-zag">{{item.company}}</div>
                          <div class="card-alls">{{item.int_info}}</div>
                          <div class="card-all">{{item.filter_category}}</div>
                      
                        <ion-buttons end>
                        
                        </ion-buttons>
                      </ion-toolbar>
          
           </ion-item>
          <br>
          </ion-slide>


          <ion-slide>
              <ion-segment  class="SwipedTabs-tabs"  >
                  <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
                  [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
                    {{tab}}
                  </ion-segment-button>
                </ion-segment>
            <div class="letter_head" style="background: #006666;height: 100px;max-height: 96%;">
              <div class="letter" style="width: 100px; margin: auto;max-height: 90%;display: block;">
                    <img src="./assets/imgs/k.png">
                  </div></div>
                  
          <h4 text-center style="font-size: 1.5em; font-weight: 600; line-height: 0.5;">Кредиты</h4>
          <p text-center style="font-size: 1.0em; line-height: 0.5;">все</p>
          <p text-center style="font-size: 1.0em; line-height: 1.5;">кол-во предложений</p>
          <br>
          <button style ="text-align: center;    font-size: 10px;margin-left: auto; margin-right: auto; display: block; background:#006699" ion-button>
              <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
            </button>
            
            <ion-item *ngFor="let item of (data2$ | async); let i = index">
                <ion-toolbar>
                    <ion-buttons end>
                        <button ion-button ion-button  (click)="openHintModal(item)" >
                          <ion-icon name="share-alt"></ion-icon>
                        </button>
                      </ion-buttons>
                      <div class="cardcom_id">{{i + 1}}</div>
                      <div class="card-zag">{{item.company}}</div>
                      <div class="card-alls">{{item.int_info}}</div>
                      <div class="card-all">{{item.filter_category}}</div>
                  
                    <ion-buttons end>
                    
                    </ion-buttons>
                  </ion-toolbar>
      
      
       </ion-item>
      <br>
          </ion-slide>


          <ion-slide>
              <ion-segment  class="SwipedTabs-tabs"  >
                  <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
                  [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
                    {{tab}}
                  </ion-segment-button>
                </ion-segment>
            <div class="letter_head" style="background: #65361b;height: 100px;max-height: 96%;">
              <div class="letter" style="width: 100px; margin: auto;max-height: 90%;display: block;">
                    <img src="./assets/imgs/d.png">
                  </div></div>
                 
          <h4 text-center style="font-size: 1.5em; font-weight: 600; line-height: 0.5;">Деньги под залог</h4>
          <p text-center style="font-size: 1.0em; line-height: 0.5;">все</p>
          <p text-center style="font-size: 1.0em; line-height: 1.5;">кол-во предложений</p>
          <br>
          <button style ="text-align: center;    font-size: 10px;margin-left: auto; margin-right: auto; display: block; background:#006699" ion-button>
              <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
            </button>
            
       
            <ion-item *ngFor="let item of (data3$ | async); let i = index">
                <ion-toolbar>
                    <ion-buttons end>
                        <button ion-button ion-button  (click)="openHintModal(item)" >
                          <ion-icon name="share-alt"></ion-icon>
                        </button>
                      </ion-buttons>
                      <div class="cardcom_id">{{i + 1}}</div>
                      <div class="card-zag">{{item.company}}</div>
                      <div class="card-alls">{{item.int_info}}</div>
                      <div class="card-all">{{item.filter_category}}</div>
                  
                    <ion-buttons end>
                    
                    </ion-buttons>
                  </ion-toolbar>
      
      
       </ion-item>
      <br>
          </ion-slide>

          <ion-slide>
              <ion-segment  class="SwipedTabs-tabs"  >
                  <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
                  [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
                    {{tab}}
                  </ion-segment-button>
                </ion-segment>
            <div class="letter_head" style="background: #5b002d;height: 100px;max-height: 96%;">
              <div class="letter" style="width: 100px; margin: auto;max-height: 90%;display: block;">
                    <img src="./assets/imgs/p.png">
                  </div></div>
                
          <h4 text-center style="font-size: 1.5em; font-weight: 600; line-height: 0.5;">Помощь</h4>
          <p text-center style="font-size: 1.0em; line-height: 0.5;">все</p>
          <p text-center style="font-size: 1.0em; line-height: 1.5;">28 предложений</p>
          <br>
          <button style ="text-align: center;    font-size: 10px;margin-left: auto; margin-right: auto; display: block; background:#006699" ion-button>
            <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
          </button>
            <br>
            <ion-item *ngFor="let item of (data5$ | async); let i = index">
                <ion-toolbar>
                    <ion-buttons end>
                        <button ion-button ion-button  (click)="openHintModal(item)" >
                          <ion-icon name="share-alt"></ion-icon>
                        </button>
                      </ion-buttons>
                      <div class="cardcom_id">{{i + 1}}</div>
                      <div class="card-zag">{{item.company}}</div>
                      <div class="card-alls">{{item.int_info}}</div>
                      <div class="card-all">{{item.filter_category}}</div>
                  
                    <ion-buttons end>
                    
                    </ion-buttons>
                  </ion-toolbar>
      
       </ion-item>
      <br>
            </ion-slide>

            <ion-slide>
              <ion-segment  class="SwipedTabs-tabs"  >
                  <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
                  [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
                    {{tab}}
                  </ion-segment-button>
                </ion-segment>
            <div class="letter_head" style="background: #420042;height: 100px;max-height: 96%;">
              <div class="letter" style="width: 100px; margin: auto;max-height: 90%;display: block;">
                    <img src="./assets/imgs/kp.png">
                  </div></div>
                  
          <h4 text-center style="font-size: 1.5em; font-weight: 600; line-height: 0.5;">Долги списание</h4>
          <p text-center style="font-size: 1.0em; line-height: 0.5;">все</p>
          <p text-center style="font-size: 1.0em; line-height: 1.5;">28 предложений</p>
          <br>
          <button style ="text-align: center;    font-size: 10px;margin-left: auto; margin-right: auto; display: block; background:#006699" ion-button >
              <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
            </button>
            
            <ion-item *ngFor="let item of (data4$ | async); let i = index">
                <ion-toolbar>
                    <ion-buttons end>
                        <button ion-button ion-button  (click)="openHintModal(item)" >
                          <ion-icon name="share-alt"></ion-icon>
                        </button>
                      </ion-buttons>
                      <div class="cardcom_id">{{i + 1}}</div>
                      <div class="card-zag">{{item.company}}</div>
                      <div class="card-alls">{{item.int_info}}</div>
                      <div class="card-all">{{item.filter_category}}</div>
                  
                    <ion-buttons end>
                    
                    </ion-buttons>
                  </ion-toolbar>
      
      
       </ion-item>
      <br>
            </ion-slide>
        </ion-slides>

      
        
      </ion-content>   







                             


                           




