
.logo_head {
	float:left;
	width: 28px;
height: 28px;
}
.back {

    width:200px;
    height:200px;
    background: #ff6633;
}


hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.content-ios hr {
    height: 0.55px;
    background-color: #333;
}

.button-ios {
    border-radius: 4px;
    height: 2.8em;
    font-size: 1.6rem;
    background-color: #ff6633;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
    color: #ffffff;
}

ion-app.ios [padding] .scroll-content {
    padding: 1px;
}
ion-app.md [padding] .scroll-content {
    padding: 1px;
}


.scroll-zoom-wrapper {
    white-space: nowrap;
}

ion-card {
    width: 150px !important;
    display: inline-block;
}

ion-scroll {
    min-height: 160px; 
    height: auto;

        .scroll-content {
        padding: 0px !important;
    }    
}
.card-ios {
    margin: 2px;
    border-radius: 2px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.card-md {
    margin: 2px;
    border-radius: 2px;
    width: calc(100% - 20px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
    .card_int {
        width: 350px !important;
        display: inline-block;
        height: 100%;
        margin: 2px;
        border-radius: 2px;
        font-size: 1.4rem;
        background: #e7e3e3;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        border: 1px solid #d8cbcb;
    }
    