<ion-header>
    <ion-navbar>
      <ion-title>Home</ion-title>
    </ion-navbar>
  </ion-header>
  
  


  <ion-content padding >
     
    
    <br>
    <h4 text-center style="font-size: 1.3em; font-weight: 600;">Подходящее для вас</h4>
  
  




    
  
    <ion-scroll scrollX="true" style="white-space:nowrap;height: 150px;background-color: #ffffff;">
     
   
    
      <ion-card  style="background-color:#ffffff">
        <img  src="./assets/slide/all/zaem.png"  tapped [navPush]="pushPage" [navParams]="{initialSlide: 0}">
        <div class="card-title">12 предложений</div>
        <div class="card-subtitle">доступно сейчас</div>
      </ion-card>
      <ion-card style="background-color:#ffffff">
        <img src="./assets/slide/all/credit-cart.png"   tapped [navPush]="pushPage" [navParams]="{initialSlide: 1}">
        <div class="card-title">12 предложений</div>
        <div class="card-subtitle">доступно сейчас</div>
      </ion-card>
      <ion-card style="background-color:#ffffff">
        <img src="./assets/slide/all/credit-all.png"   tapped [navPush]="pushPage" [navParams]="{initialSlide: 2}">
        <div class="card-title">12 предложений</div>
        <div class="card-subtitle">доступно сейчас</div>
      </ion-card>
      <ion-card style="background-color:#ffffff"> 
        <img src="./assets/slide/all/credit-zalog.png"   tapped [navPush]="pushPage" [navParams]="{initialSlide: 3}">
        <div class="card-title">12 предложений</div>
        <div class="card-subtitle">доступно сейчас</div>
      </ion-card>
    
      <ion-card style="background-color:#ffffff">
        <img src="./assets/slide/all/help-credit.png"   tapped [navPush]="pushPage" [navParams]="{initialSlide: 4}">
        <div class="card-title">12 предложений</div>
        <div class="card-subtitle">доступно сейчас</div>
      </ion-card>
      <ion-card style="background-color:#ffffff">
        <img src="./assets/slide/all/dolg.png"   tapped [navPush]="pushPage" [navParams]="{initialSlide: 5}">
        <div class="card-title">12 предложений</div>
        <div class="card-subtitle">доступно сейчас</div>
      </ion-card>
    </ion-scroll>
  
  
  
    <h4 text-center style="font-size: 1.3em; font-weight: 600;">Интересное</h4>
  
    <ion-scroll scrollX="true" style="white-space:nowrap;width:100%;height: 185px;background-color: #ffffff;">
      <ion-card class="card_int" nowrap *ngFor="let item of items" style="width:100% ;padding:10px;height:100%"><h4 text-center style="font-size: 1.2em; font-weight: 600;">{{item.company_h}}</h4>
        <ion-grid>
          <ion-row text-center>
            <ion-col col-md-3>
           18+
            </ion-col>
            <ion-col >
                <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </ion-col>
            <ion-col col-md-3 offset-md-3>
             <ion-icon name="heart"></ion-icon>
            </ion-col>
          </ion-row>
          <button  style ="text-align: center;margin-left: auto; margin-right: auto; display: block; background:#006699" ion-button color="secondary">Оформить</button>
          <h3 text-center>{{item.link_company_h}}</h3>
          <h6 text-center>{{item.int_info_h}}</h6>
    
    
        </ion-grid>
      </ion-card>
        </ion-scroll>
  
  
    <h4 text-center style="font-size: 1.3em; font-weight: 600;">Все категории</h4>
  
    <ion-grid>
      <ion-row justify-content-start>
        <ion-col col-6 col-sm tapped [navPush]="pushPage" [navParams]="{initialSlide: 0}">
          <img src="./assets/slide/all/card.png">
        </ion-col>
        <ion-col col-6 col-sm tapped [navPush]="pushPage" [navParams]="{initialSlide: 1}">
          <img src="./assets/slide/all/card2.png">
        </ion-col>
        <ion-col col-6 col-sm tapped [navPush]="pushPage" [navParams]="{initialSlide: 2}">
          <img src="./assets/slide/all/card3.png">
        </ion-col>
        <ion-col col-6 col-sm tapped [navPush]="pushPage" [navParams]="{initialSlide: 3}">
          <img src="./assets/slide/all/card4.png">
        </ion-col>
        <ion-col col-6 col-sm  tapped [navPush]="pushPage" [navParams]="{initialSlide: 4}">
          <img src="./assets/slide/all/card5.png">
        </ion-col>
        <ion-col col-6 col-sm  tapped [navPush]="pushPage" [navParams]="{initialSlide: 5}">
          <img src="./assets/slide/all/card6.png">
        </ion-col>
  
  
  
      </ion-row>
    </ion-grid>
    

  
  
  </ion-content>