<ion-content>
    <ion-slides pager>

        <ion-slide style="background-color: rgb(25, 25, 25); ">
            <div class="text_slide">
                <div class="hello"> Привет!

                </div>

                <h5 style="color:white;">Мы поможем тебе <br>
                    легко найти деньги</h5>

                <br>
                <div class="logo_slide">
                    <img src="./assets/imgs/logo_slide2.png">
                </div>
                <br>

                <h5 style="color:white;">Для поиска денег<br>нажмите далее</h5>
                <br>
                <button ion-button color="light" (click)="next()">Далее</button>
            </div>
        </ion-slide>


        <ion-slide #slide2 style="background-color: rgb(25, 25, 25);">
            <div class="hello_text">
                <h5 style="color:white;">СПРАВОЧНИК КРЕДИТОРОВ<br>
                    поможет легко найти деньги</h5>
            </div>

            <br>
            <ion-label style="color:#ffffff;  font-size: 1.2em; font-weight: 600;"></ion-label>
            <ion-item style="background-color: rgb(25, 25, 25);">
                <ion-select class="region" placeholder="Я ищу" [(ngModel)]="purpose" (ngModelChange)="onChangePurpose($event)">
                    <ion-option value="mond">Деньги без залога</ion-option>
                    <ion-option value="monp">Деньги под залог</ion-option>
                    <ion-option value="cred">Помощь в кредите</ion-option>
                    <ion-option value="nom">Избавление от кредитов</ion-option>
           
                </ion-select>
            </ion-item>

            <br>
            <ion-label style="color:#ffffff;  font-size: 1.2em; font-weight: 600;"></ion-label>
            <ion-item style="background-color: rgb(25, 25, 25);">
                <br>
                <ion-select class="region" placeholder="Страна" [(ngModel)]="country" (ngModelChange)="onChangeCountry($event)">
                    <ion-option [value]="item" *ngFor="let item of (data1$ | async)">{{item.country}}  </ion-option>
                </ion-select>

            </ion-item>
            <br>
            <br>


            <ion-item style="background-color: rgb(25, 25, 25);">


                <ion-select class="region" placeholder="Регион" [(ngModel)]="country" (ngModelChange)="onChangeRegion($event)">
                    <ion-option [value]="item" *ngFor="let item of (data2$ | async)">{{item.all_city}}  </ion-option>
                </ion-select>

            </ion-item>
            <br>
            <div class="hello_text">
                <h5 style="color:white;">Выберите страну/регион <br>
                    и нажмите "Далее"</h5>
            </div>
            <br>
            <button ion-button color="light" (click)="goAnOtherPage()">ИСКАТЬ</button>


        </ion-slide>


    </ion-slides>

</ion-content>
  