.swiper-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
   height: 100%;
  }
.pegee {
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #191919;
}
.label-ios {
    color: #ffffff;
}
  
  .label-md {
    color: rgb(255, 255, 255);
  }
hr {
width: 85%;
margin-left: auto;
margin-right: auto;
}
.content-ios hr {
    height: 0.55px;
    background-color: rgb(255, 255, 255);
}
.content-md hr {
    background-color: rgba(255, 255, 255, 0.9);
}
.diag{
    position:absolute;
    z-index:1;
    width:100%;
 
    height: 100%;
}



h2 {
    margin-top:80% !important;
   
    font-size:1em;
}

p {
    width:80%;
    display:block;
    margin: 0 auto;
    font-size:.9em;
}

.swiper-pagination-bullet-active {
    background:#ffffff;
}





.swiper-slide {
    background-color: rgba(0, 0, 0, 0.9);
 
}

  .hello{
margin-top: 50px;
color: #ffffff;
font-family:Lobster;
font-size: 28px;
font-weight: 400; 
text-align:center;
}

.hello_text {
color: #ffffff;

font-size: 24px;
font-weight: 400;
}
.logo_slide {

height: 132px;

text-align:center;
}

.checkbox-md .checkbox-checked {
    border-color: #06546b;
    background-color: #06546b;
}

.checkbox-ios .checkbox-checked {
    border-color: #06546b;
    background-color: #06546b;
}
.label-ios {
   
    color: white;
}
.label-md {
	
	 color: white;

}
.list-ios > .item-block:first-child {
  border-top: 0.55px solid #191919;
}

.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 0.55px solid #191919;
}

.list-ios > .item-block:last-child .item-inner,
.list-ios > .item-wrapper:last-child .item-block .item-inner {
  border-bottom: 0;
}

.list-ios .item-block .item-inner {
  border-bottom: 0.55px solid #191919;
}

.list-ios .item[no-lines],
.list-ios .item[no-lines] .item-inner {
  border-width: 0;
}

.list-ios ion-item-options {
  border-bottom: 0.55px solid #191919;
}
.list-md .item-block .item-inner {
    border-bottom: 1px solid #191919;
}
ion-option {
	
	color:#ffffff;
}
.region {
	width: 256px;
height: 45px;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
border-radius: 5px;
border: 1px solid #f2f2f2;
  margin-left: auto;
    margin-right: auto;
    display: inline-flex;
max-width:90%;

}

.item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #191919;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #191919;
}
.select-text {
	
	color:#ffffff;
}

.swiper-pagination {
    bottom: 7% !important;
}

.checkbox-ios .checkbox-icon {
    border-radius: 50%;
    position: relative;
    width: 21px;
    height: 21px;
    border-width: 2px;
    border-style: solid;
    border-color: #dad4d2;
    background-color: #191919;
}