
.information-circle {

    font-size: 22px;
}

.card-step {

    font-size: 1.4em;
}
.card-steps {

    font-size: 1.0em;
}
.card_int {
    width: 350px !important;
    display: inline-block;
    height: 100%;
  }
 
 .second_button {
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
border-radius: 25px;
background-color: #ff6633;
}




.person_iconhome {
    font-size: 2.5em;
text-align:center;
}

.ion-md-contact {

    font-size: 1.8em;
}

.ion-ios-contact{

    font-size: 2.5em;
}
@font-face {
	font-family:Lobster;
	src:url('../assets/fonts/lobster/neILzCirqoswsqX9zoamM5Ez.woff2')
}

.hello {
	
	font-family:Lobster;
}
.checkbox-md .checkbox-icon {
    border-radius: 8px;
    position: relative;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    
    -webkit-transition-duration: 280ms;
    transition-duration: 280ms;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title_tab {
    color: #000000;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 700;
}
.title_tab-ios {
    color: #000000;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: 700;
}
.card-title {
    color: #000000;
    font-size: 18px;
    margin-left: 2px;
    text-align:center;
}
.card-subtitle {
    padding: 2px;
    color: #7d7d7d;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: 400;
    margin-left: 2px;
    text-align:center;
}

.card-zag {

    color: #000000;
    font-size: 1.0em;
    margin-left: 6px;
   
}

.card-all {
    padding: 2px;
    color: #7d7d7d;
    font-family: Tahoma;
    font-size: 0.8em;
    font-weight: 400;
    margin-left: 6px;
    

} 
