<ion-header>
    <ion-navbar>
      <ion-title>
        Сообщения
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
  
      

    
  
    <ion-card *ngFor="let item of (data102$ | async);" style=" width: 650px !important;
    max-width: 98%;
    display: block;
    margin: 8px auto 25px;
    text-align: left;">
      
      <ion-card-content> 
          <ion-icon name="redo" item-end style="    display: inline-block;
          font-size: 1.6em;
          float: right;
          color: #232323;"></ion-icon>
        <img src="/assets/imgs/logo_slide2.png" style=" width: 8%;display: block;"> 
        
        
        <div class="title_mess"> {{item.notification_tittle}}</div> 
        
          <div class="container_showtext" ng-class="{show: show}">{{item.notification_mess}} </div>
          <div class="text_null"></div>
      </ion-card-content>

   
    </ion-card>

<br>


<!--
  <button ion-button (click)="badge.set(10)">Set 10</button>
  <button ion-button (click)="badge.clear()">Удалить</button>-->








    

  



  
    </ion-content>
  
  
