page-messages {
.select-text {
    color: #211c1c;
}


.container_showtext {
    font-size: 14px;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    float: left;
    display: block;
    color: #635f5f;
}


.title_mess{
font-size: 1.5em;
margin-top: 2%;
position: relative;

}

    .text_null {
        margin-top: 10px;
        padding: 10px;
}
}
